@use './variables' as vars;

@mixin common-note-style($padding: 10px) {
    outline: none;
    border: none;
    background-color: transparent;
    padding: $padding;
}

.notes-board {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: vars.$board-bg;

    .left-toolbar {
        width: 70px;
        height: 100%;
        background-color: #eaeaea;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .add-note-button {
            position: absolute;
            top: 30px;
            left: 10px;
            border-radius: 8px;
            background-color: cyan;
            padding: 10px 20px;
            cursor: pointer;
            margin-bottom: 10px;
        }
    }



    .sticky-note {
        position: absolute;
        cursor: crosshair;
        display: flex;
        flex-direction: column;
        min-height: vars.$note-minheight;
        min-width: vars.$note-minwidth;
        user-select: none;
        padding: 10px;

        .note-title {
            @include common-note-style();
            font-weight: bold;
            margin-bottom: 5px;
        }

        .note-content {
            @include common-note-style(15px);
            flex: 1;
            line-height: 1.5;
        }
    }

    .note-toolbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 30px;
        pointer-events: all;
        padding-top: 50px;
    }

    .color-palette-btn>input {
        opacity: 0;
    }
}