.notes-board {
    position: relative;
    width: 50vw;
    height: 50vh;

}

.add-note-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #808000;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sticky-note {
    position: absolute;
    cursor: crosshair;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 200px;
    user-select: none;
    padding: 10px;
}


.note-title {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
}

.note-content {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 15px;
    flex: 1;
    line-height: 1.5;
    width: auto;
}

.note-toolbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 30px;
    pointer-events: all;
    padding-top: 50px;
}

.color-palette-btn>input {
    opacity: 0;
}