.notes-board {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.add-note-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #808000;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sticky-note {
    position: absolute;
    cursor: crosshair;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    user-select: none;
}


.note-title {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    flex-grow: 1;
}

.note-content {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px;
    flex: 1;
    line-height: 1.5;

}


.sticky-note>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}